[Unit]
Description=ARM v2 Trading Bot
After=network.target

[Service]
Type=simple
User=ssm-user
WorkingDirectory=/home/ssm-user/SG-HK-Roostoo
ExecStart=/usr/bin/python3 /home/ssm-user/SG-HK-Roostoo/watchdog.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
